.login {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url("../img/DS2YUZ1VwAET0mW.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.login-header {
    text-align: center;
}
.login-header h1 {
    color: #c8d6e5;
    font-weight: bold;
}
.login-from {
    display: flex;
    justify-content: center;
}
@media (max-width: 800px) {
    .login-form-child {
        width: 70%;
    }
    .ant-form-item-control {
        margin: 0 !important;
        text-align: center;
    }
    .ant-form-item .ant-form-item-control {
        flex: 0 0 100% !important;
        max-width: 90% !important;
    }
    .ant-form-item .ant-form-item-label {
        padding: 0 0 8px;
        line-height: 1.5715;
        white-space: initial;
        text-align: left;
    }
}
@media (min-width: 800px) {
    .login-form-child {
        width: 50%;
    }
}
.ant-form-item-required {
    color: white !important;
}
.signup {
    display: flex;
    flex-direction: column;
} 
.signup div{
    display: flex;
    justify-content: flex-end;
    line-height: 40px;
}
.signup input {
    width: 80%;
    height: 40px;
    border: #34ace0 solid 2px;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    margin-left: 10px;
}
