.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #f5f6fa;
    font-size: 1.1rem;
    height: 70px;
    background-color: rgba(32, 56, 56, 0.5);
    line-height: 70px;
}
.navbar-account {
    display: flex;
    justify-content: space-between;
}
.navbar-logo-menu {
    margin-left: 20px;
    font-size: 1.2rem;
}
.navbar-account div {
    margin-right: 20px;
}
.navbar-account-username {
    color: #81ecec;
}
.menu {
    top: 70px;
    position: absolute;
    width: 260px;
    background: #ced6e0;
    color: black;
    font-size: 1rem;
    z-index: 9;
}
.menu div {
    padding-left: 20px;
}
.menu-background {
    background: #2f3542;
    color: white;
}
@media (max-width: 500px) {
    .navbar {
        height: 50px;
        line-height: 50px;
        font-size: 0.9rem;
    }
    .navbar-logo-menu {
        margin-left: 10px !important;
        font-size: .8rem;
    }
    .menu {
        top: 50px;
        font-size: .8rem;
    }
}
.alert-success {
    position: fixed;
    right: 0;
}
.off-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 56, 56, .9);
    z-index: 1;
}