.table {
    margin: 20px;
    font-size: 1rem;
}
.table tbody {
    background-color: #dfe4ea;
}
@media (max-width: 500px) {
    .table-max {
        display: none;
    }
}
@media (min-width: 500px) {
    .table-min {
        display: none;
    }
}
@media (max-width: 750px) {
    .table {
        margin: 10px;
        font-size: 0.7rem;
    }
    .table tr {
        height: 40px !important;
    }
    .table td, th{
        padding-left: 5px !important;
    }
    .option-detail {
        width: 50px !important;
        height: 25px !important;
        margin-right: 5px !important;
    }
    .option-delete {
        width: 30px !important;
        height: 25px !important;
    }
    .option-update {
        width: 60px !important;
        height: 25px !important;
        margin-right: 5px !important;
    }
}
.table tr {
    height: 50px;
}
.table td, th{
    padding-left: 10px;
}
.pagination {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
.option-detail {
    width: 80px;
    height: 35px;
    margin-right: 10px;
    background-color: #33d9b2;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
}
.option-delete {
    width: 60px;
    height: 35px;
    background-color: #ff5252;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
}
.option-update {
    width: 100px;
    height: 35px;
    margin-right: 10px;
    background-color: #33d9b2;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
}
.option-back, .option-create {
    width: 80px;
    height: 35px;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: cadetblue;
}