<!DOCTYPE html>
<html class="html-admin" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/user.css">
</head>
<body class="body-admin">
    <div class="header">
        <div style="color: #130f40;" class="user"></div>
        <div><button id="logout" type="button" class="btn btn-outline-primary">Đăng xuất</button></div>
    </div>
    <div class="parent">
        <div class="menu">
            <div class="data-user">Quản lý thông tin</div>
            <div class="data-book">Quản lý thư viện</div>
        </div> 
    <!-- Thông tin book -->
        <div class="content content-book hide">
            <!-- Button trigger modal -->
            <div class="btn-header">
                <button id="btn-create" type="button" class="btn btn-info" data-toggle="modal"
                data-target="#modalAdd" onclick="toAdd()">
                    Tạo mới
                </button>
            </div>
            <div class="content-table">
                <table class="table table-borderless">
                    <thead>
                        <tr class="table-info">
                            <th scope="col">STT</th>
                            <th scope="col">Name</th>
                            <th scope="col">Timer</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="list-user-book">
                        <!--thêm data-->
                    </tbody>
                </table>
            </div>
        </div> 
    <!-- Thông tin chi tiết --> 
        <div class="detail hide">
            <div class="detail-table">
                <table class="table table-borderless">
                    <thead>
                    <tr class="table-info">
                        <th scope="col">Email</th>
                        <th scope="col">Username</th>
                        <th scope="col">Phone</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="list-user-detail">
                        <!-- Thêm phần detail -->
                    </tbody>
                </table>
            </div>  
        </div>
    </div> 
<!-- Modal thay đổi data -->
    <div class="modal fade" id="modalChange" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tạo mới thông tin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td>
                                Email:
                            </td>
                            <td>
                                <input id="add-email" class="input-text" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Username:
                            </td>
                            <td>
                                <input id="add-username" class="input-text" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Phone:
                            </td>
                            <td>
                                <input id="add-phone" class="input-text" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Password:
                            </td>
                            <td>
                                <input id="add-password" class="input-text" type="text">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" id="create-user" class="btn btn-primary" data-dismiss="modal" onclick="doneChange()">Done</button>
                </div>
            </div>
        </div>
    </div>
<!-- Modal tạo mới book -->
    <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tạo mới book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td>
                                Name:    
                            </td>
                            <td>
                                <input id="add-name" class="input-text" type="text">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" id="create-user" class="btn btn-primary" data-dismiss="modal" onclick="doneAdd()">Done</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/user.js"></script>
</html>