* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html-detail {
    height: 100%;
}
.body-detail {
    background: #f1f2f6;
    padding: 10px;
}
.parent th {
    color: #192a56;
}
.parent {
    margin-top: 10px;
}